<nav>
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="ativo">Home</a>
    </li>
    <li>
      <a routerLink="/sobre" routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: true }">Sobre nós</a>
      <ul>
        <li>
          <a routerLink="/sobre/faq" routerLinkActive="ativo">FAQ</a>
        </li>
        <li>
          <a routerLink="/sobre/historia" routerLinkActive="ativo">História</a>
        </li>
        <li>
          <a routerLink="/sobre/fale-conosco" routerLinkActive="ativo">Fale Conosco</a>
        </li>
        <li>
          <a routerLink="/sobre/equipe" routerLinkActive="ativo">Equipe</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

Onde vai aparecer o component de cada caminho:

<router-outlet></router-outlet>
